*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100vw;
   height: 100px;
   background-color: rgb(255, 255, 255);
}
.nav-bar{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    width: 20%;
}
.logo{
    width: 33.51px;
    height: 58.25px;
    left: 120px;
    top: 46.47px;
}
.nav-bar h3{
    font-size: 18px;
    margin: 5px;
}
.BULLETS {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    width: 40%;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li {
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}
.BUTTONS{
    display: flex;
    justify-content: space-around;
    width: 40%;
    color: #ffff;
    font-size: 12px;
}
.SIGN_UP_BUTTON h4{
    background: #DA0013;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
}
.LOG_IN_BUTTON h4{
    background: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
}