*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: rgb(179, 218, 218);
}
.logo{
    width: 30%;
}
.hero{

}
.hero_content{
    background-image: url(Rectangle2.png);
    background-size: 100px 80px;
    background-repeat: no-repeat;
}