@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

/* Totop Navigation */

#topicon {
  position: relative;
  scroll-behavior: smooth;
}

.totop {
  background-color: #fff;
  border-radius: 50%;
  padding: 0 12px;
  text-decoration: none;
  border: 3px solid #124e78;
  bottom: 30px;
  right: 20px;
  position: fixed;
  transition: 1s ease-in-out;
  font-size: 25px;
  display: none;
}

.totop.scrollup {
  display: block;
}

.totop.scrollup {
  display: block;
}

.totop:hover {
  background-color: #124e78;
  transition: background 0.5s ease-in-out;
  color: #ffffff;
  border: 3px solid #ffffff;
}

.din-color {
  color: #124e78;
}

/* End of Totop Navigation */

.mybg-nav {
  background-color: #fff !important;
}

.navbar-toggler:focus {
  outline: 0 !important;
  box-shadow: 0 !important;
}

.navbar button.navbar-toggle {
  border: none;
}

.navbar-light .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus {
  outline: 0 !important;
  box-shadow: 0 !important;
}

.navbar-toggler {
  border: 0 !important;
  padding: 0 !important;
}

.nav-link {
  color: #1f1e1d !important;
  padding: 0 20px !important;
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
}

.nav-link:hover {
  color: #ee2234 !important;
}

div.btn-desk {
  display: none !important;
}

.my-btn {
  color: #fff !important;
  padding: 10px 18px !important;
  margin: 0 20px !important;
  border-radius: 10px !important;
}

.my-btn:nth-child(2) {
  margin-right: 0 !important;
}

.my-btn:nth-child(1),
.btn-red {
  background-color: #ee2234;
  color: #fff !important;
}

/* Hero Section */

.hero {
  background-image: url('../images/landing/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 734px;
  position: relative;
}

.hero-inner {
  position: absolute;
  width: 450px;
  height: 404px;
  top: 45%;
  left: 30%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  transform: translate(-50%, -50%);
  padding: 35px 82px;
  align-items: center;
  text-align: left !important;
  display: grid;
  flex-direction: column;
}

.pp {
  position: relative;
}

.pp::after {
  position: absolute;
  content: '';
  width: 110px;
  height: 4px;
  background-color: #ee2234;
  border-radius: 50px;
  bottom: -12px;
  left: 0;
}

.cpp {
  position: relative;
}

.cpp::after {
  position: absolute;
  content: '';
  text-align: center;
  width: 90px;
  height: 4px;
  background-color: #ee2234;
  border-radius: 50px;
  bottom: -12px;
  left: 23%;
}

.cpp2 {
  position: relative;
}

.cpp2::after {
  position: absolute;
  content: '';
  text-align: center;
  width: 90px;
  height: 4px;
  background-color: #ee2234;
  border-radius: 50px;
  bottom: -12px;
  left: 16%;
}

.viewall a {
  color: #0a2c44;
  text-decoration: none;
  color: #ee2234;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.04em;
}

/* Quick Tips Section */

.qp {
  position: relative;
}

.qt-img {
  height: 100%;
}

.qp::after {
  position: absolute;
  content: '';
  width: 80.71px;
  height: 4px;
  background-color: #ee2234;
  border-radius: 50px;
  bottom: -12px;
  left: 0;
}

/* popular Exercise */

.vid {
  position: relative;
}

.vid-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vid .img-fluid {
  width: 100%;
  height: 309px;
}

.vid-content {
  position: absolute;
  color: #fff;
  width: 80%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time {
  background-color: #fff;
  color: black;
  padding: 6px 14px;
  border-radius: 10px;
}

/* Heading */

.h2-head {
  font-size: 46px;
}

/* quick tip */

.quick-tip {
  position: relative;
}

.inner-qt {
  position: absolute;
  top: 40%;
  right: -15%;
  width: 331.92px;
  height: 381.74px;
  transform: translate(-50%, -50%);
  background: rgba(239, 239, 238, 0.81);
  border-radius: 14px;
  padding: 50px 20px;
}

.fit {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #0a2c44;
}

.btn-link {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #0a2c44;
}

.qpr {
  position: relative;
}

.qpr-inner {
  position: absolute;
  color: #fff;
  width: 80%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-container {
  min-height: 462px;
  height: 100%;
  background: #0a2c44;
}
.footer-img {
  position: relative;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hr {
  width: 100%;
  margin-top: 50px;
  background-color: #fff;
  height: 2px;
}

/* mobile Responsiveness */

@media (max-width: 991px) {
  .navbar-brand img {
    width: 100%;
  }

  .my-btn {
    margin-right: 30px !important;
    font-size: 12px !important;
  }

  .qt-img {
    height: auto;
  }
  .btn-hide-mb {
    display: none;
  }

  div.btn-desk {
    display: flex !important;
  }

  .hero-inner {
    top: 50%;
    width: 90% !important;
    height: auto !important;
    left: 50%;
    padding: 50px 30px !important;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    text-align: center !important;
    justify-content: center !important;
    place-items: center;
  }

  .nav-link {
    margin: 15px 0 !important;
  }

  .inner-qt {
    top: 50%;
    width: 90% !important;
    left: 50%;
    box-sizing: border-box !important;
    height: auto !important;
    transform: translate(-50%, -50%);
    padding: 10px 10px !important;
  }

  .inner-qt p,
  .inner-qt a {
    margin-top: 4px !important;
  }

  .inner-qt p {
    font-size: 14px !important;
  }

  .inner-qt h5 {
    font-size: 18px !important;
  }

  .inner-qt a {
    font-size: 14.5px !important;
  }

  .qpr-inner {
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-link {
    margin-top: 5px !important;
  }
  /* .mobile-m {
    margin-top: 30px !important;
  } */

  .footer-container {
    height: 100%;
    background: #0a2c44;
  }

  .cpp::after {
    display: none;
  }

  .cpp2::after {
    display: none;
  }
}

@media (max-width: 408px) {
  .btn-hide-mb {
    display: flex;
  }

  div.btn-desk {
    display: none !important;
  }
  .grand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer-icon {
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .grand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer-icon {
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .grand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer-icon {
    margin-bottom: 10px;
  }
}
