@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600;700&display=swap');
:root {
  --white: #fff;
  --dark-blue: #0a2c44;
  --light-red: rgba(238, 34, 52, 0.1);
  --dark-red: #e13443;
  --light-gray: #e7eaec;
  --lighter-gray: #f5f5f5;
  --light-blue: #196ba6;
  --blue: #124e78;
  --black-text: #1f1e1d;
  --peach-green: #15a69d;
  --shadow: 0px 2px 4px 0px #0000001a;
  --font: 'Sarabun', sans-serif;
  --hour: #f8fdfd;
  --session: #fbfbfb;
  --calories: #fffcf3;
  --btn-purple: #a615a0;
  --text-red: #ee2234;
  --btn-red: #f44336;
  --shadow-v2: 0px 2px 1px 0px #0000001a;
  --bg-color: #e5e5e5;
  --dark-gray: #726f6b;
  --gray: #E5E5E5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  /* outline: 1px solid red; */
}
body {
  width: 100vw;
  height: 100%;
  background: var(--gray);
  overflow-x: hidden;
}
.navbar {
  width: 272px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 200px 10px 30px 10px;
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.05),
    2px 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.hamburger-menu {
  display: none;
}
.nav-links,
.options {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  transform: translateY(-30px);
}
.nav-links li,
.options li {
  width: 100%;
  margin: 5px 0;
  border: 1px solid transparent;
  transition: 1s border ease-out 0.2s;
  border-radius: 12px;
}
.nav-links li:hover,
.options li:hover {
  border: 1px solid var(--dark-blue);
}
.nav-links li a,
.options li a {
  text-decoration: none;
  font-weight: 400;
  color: var(--dark-blue);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.nav-links img,
.options img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 50px;
}
/* topbar */
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: var(--white);
  box-shadow: var(--shadow);
  z-index: 10;
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
}
li.present {
  border: 1px solid var(--dark-blue);
}

.menu-bar h1 {
  color: var(--dark-blue);
  font-weight: 700;
}
.menu-bar form {
  width: 528px;
  height: 48px;
  background: var(--light-gray);
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 0 10px;
}
.textbox {
  width: calc(100% - 50px);
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding-left: 30px;
  color: var(--blue);
  font-size: 16px;
}
.textbox::placeholder {
  color: var(--blue);
  font-size: 16px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  text-align: right;
  color: var(--blue);
  margin-right: 20px;
}
.profile p {
  font-size: 12px;
}
.profile h3 {
  font-weight: 600;
  font-size: 24;
}
/* topbar end */
.container {
  width: calc(100% - 272px);
  height: 100%;
  padding: 20px 30px;
  transform: translateX(272px);
  display: flex;
  flex-direction: column;
  margin-top: 96px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.view2 {
  width: 100%;
}
.request {
  width: 100%;
  display: flex;
  margin: 10px 0;
  background: var(--white);
  box-shadow: var(--shadow);
  padding: 10px;
  border-radius: 5px;
}
.select {
  overflow: hidden;
}
.select a {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--dark-blue);
}
.select .line {
  height: 3px;
  width: 50px;
  background: var(--dark-red);
  margin-top: 10px;
  transform: translateX(-50px);
  transition: 1s transform ease-out 0.1s;
}
.select:hover .line {
  transform: translateX(0);
}
.contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 40px;
}
.tabs {
  width: 100%;
  display: flex;
  align-items: center;
}
.tab {
  width: 243px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 10px;
}
.col1 {
  background: #FFEFEF;
  color: #FF938E;
}
.col2 {
  background: #EFF7FF;
  color: var(--dark-blue);
}
.col3 {
  background: #EFF7FF;
  color: var(--dark-blue);
}
.col3 span {
  font-size: 14px;
}
.session {
  width: 100%;
}
.period {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.period p {
  margin-right: 10px;
}
.period :nth-child(2) {
  color: var(--text-red);
}
.meal-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meal {
  width: 300px;
  height: 300px;
  background: var(--white);
  border-radius: 12px;
  padding: 14px;
}
.top {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--dark-gray);
}
.icon {
  width: 40px;
  height: 40px;
  background: var(--light-blue);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.cancel {
  position: absolute;
  right: 5px;
  color: var(--btn-red);
}
.red {
  background: #FFF2EC;
}
.blue {
  background: #E6F2FF;
}
.purple {
  background: #FCECFF;
}
.txt1 h4{
  color: #FF844C;
}
.txt2 h4 {
  color: #5AA9FF;
}
.txt3 h4 {
  color: #E86AFF;
}
.schedule {
  width: 100%;
  
}
.schedule-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}
.schedule-time h4 {
  padding: 5px 10px;
  color: var(--dark-gray);
  font-size: 14px;
}
.schedule-time h4:nth-child(1) {
  background: var(--gray);
}
.schedule-time h4:nth-child(2) {
  border: 1px solid #FF938E;
  color: #FF938E;
}
.schedule-txt {
  width: 100%;
  color: var(--dark-blue);
}
.schedule-txt h1 {
  font-size: 16px;
  margin-bottom: 5px;
}
.schedule-txt p {
  font-size: 14px;
}
.memo {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.food, .fruit {
  width: 60px;
  height: 22px;
  border-radius: 6px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.food {
  color: #58B151;
  background: #E7F4E6;
}
.fruit {
  color: #FF938E;
  background: #FFF2EC;
}
.complete {
  color: var(--dark-gray);
  font-size: 14px;
}
.complete span {
  color: var(--black-text);
}
.bar {
  width: 260px;
  height: 6px;
  background: var(--gray);
  margin-top: 15px;
  border-radius: 50px;
}
.inner-bar {
  width: 60%;
  height: 100%;
  background: #69B964;
  border-radius: 50px;
}
.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.change-btn {
  width: 120px;
  height: 40px;
  border-radius: 6px;
  background: var(--btn-red);
  color: var(--white);
  border: none;
  outline: none;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.5s background ease-out 0.1s;
}
.change-btn:hover {
  background: var(--light-blue);
}
.his-cal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* calendar start */
.calendar {
  width: 47%;
  height: 340px;
  border-radius: 12px;
  background: var(--white);
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar .col .content1 {
  padding: 2px;
}

.calendar ul li {
  list-style: none;
}
.Monthly i {
  font-size: 12px;
  color: #2089D4;
}
.Monthly {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 0 10px;
}
.calendar .months li,
.calendar .weekday li,
.calendar .days li {
  float: left;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a {
  display: block;
  color: #000;
  text-decoration: none;
}

.calendar .weekday li a {
  width: 50px;
  color: #2089D4;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.calendar .days li {
  width: 50px;
}

.calendar .days li a {
  width: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  height: 25px;
  text-align: center;
  margin: 8px auto;
  margin-bottom: 2px;
  padding-top: 5px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.calendar .days li a:hover {
  background-color: #E6F2FF;
  color: #fff;
}

.calendar .days li .selected {
  background-color: #E6F2FF !important;
  color: #ffffff;
  border-radius: 5px;
}

.top-calender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 18px;
  margin-bottom: 10px;
}

.a,
.c {
  width: 28px;
  height: 28px;
  background: #2089D4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cal {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.clearfix {
  clear: both
}
.history {
  width: 47%;
  height: 340px;
  background: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  color: var(--dark-blue);
}
.history-top {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}
.history-top h4 {
  color: black;
}
.yesterday {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yesterday h4, .day7 h4 {
  color: var(--dark-gray);
}
.yesterday img {
  width: 20px;
  height: 20px;
}
.breakfast {
  width: 100%;
  border-bottom: 1px solid var(--gray);
}
.breakfast-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* calendar end */
@media (max-width: 750px) {
  body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
  }
  .navbar {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0;
    padding: 140px 0 0 0;
  }
  .active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0;
    padding: 140px 0 0 0;
  }
  .menu-bar h1,
  .textbox {
    display: none;
  }
  .menu-bar form {
    background: transparent;
    width: 0px;
  }
  .hamburger-menu {
    display: inline-block;
    font-size: 24px;
    color: var(--dark-blue);
  }
  .logo {
    transform: scale(0.8);
  }
  .container {
    width: 100%;
    transform: translateX(0);
    overflow: hidden;
  }
  .tabs, .his-cal, .meal-time {
    flex-direction: column;
  }
  .tab, .meal {
    margin: 10px 0;
  }
  .calendar, .history {
    width: 340px;
    padding: 10px 0;
    margin: 10px 0;
  }
  .calendar {
    height: 100%;;
  }
  .history {
    padding: 10px;
  }
  
}
@media (max-width: 400px) {
}
