@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600;700&display=swap');
:root {
  --white: #fff;
  --dark-blue: #0a2c44;
  --light-red: rgba(238, 34, 52, 0.1);
  --dark-red: #e13443;
  --light-gray: #e7eaec;
  --lighter-gray: #f5f5f5;
  --light-blue: #196ba6;
  --blue: #124e78;
  --black-text: #1f1e1d;
  --dark-black: #000000;
  --peach-green: #15a69d;
  --shadow: 0px 2px 4px 0px #0000001a;
  --font: 'Sarabun', sans-serif;
  --hour: #f8fdfd;
  --session: #fbfbfb;
  --calories: #fffcf3;
  --btn-purple: #a615a0;
  --text-red: #ee2234;
  --btn-red: #f44336;
  --text-red-v2: #da0013;
  --shadow-v2: 0px 2px 1px 0px #0000001a;
  --bg-color: #e5e5e5;
  --dark-gray: #726f6b;
  --dark-gray-v2: #f0f0f0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  /* outline: 1px solid red; */
}
body {
  width: 100vw;
  height: 100%;
  background: var(--white);
}
.navbar {
  width: 272px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 200px 10px 30px 10px;
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.05),
    2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.hamburger-menu {
  display: none;
}
.nav-links,
.options {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  transform: translateY(-30px);
}
.nav-links li,
.options li {
  width: 100%;
  margin: 5px 0;
  border: 1px solid transparent;
  transition: 1s border ease-out 0.2s;
  border-radius: 12px;
}
.nav-links li:hover,
.options li:hover {
  border: 1px solid var(--dark-blue);
}

li.present {
  border: 1px solid var(--dark-blue);
}
.nav-links li a,
.options li a {
  text-decoration: none;
  font-weight: 400;
  color: var(--dark-blue);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.nav-links img,
.options img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 50px;
}
/* topbar */
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background: var(--white);
  box-shadow: var(--shadow);
  z-index: 10;
  width: 100%;
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
}
.menu-bar h1 {
  color: var(--dark-blue);
  font-weight: 700;
}
.menu-bar form {
  width: 528px;
  height: 48px;
  background: var(--light-gray);
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 0 10px;
}
.textbox {
  width: calc(100% - 50px);
  height: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding-left: 30px;
  color: var(--blue);
  font-size: 16px;
}
.textbox::placeholder {
  color: var(--blue);
  font-size: 16px;
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  text-align: right;
  color: var(--blue);
  margin-right: 20px;
}
.profile p {
  font-size: 12px;
}
.profile h3 {
  font-weight: 600;
  font-size: 24;
}
/* topbar end */
.container {
  width: calc(100% - 272px);
  height: 100%;
  padding: 20px 30px;
  transform: translateX(272px);
  display: flex;
  flex-direction: column;
  margin-top: 96px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.view1 {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  min-height: 250px;
}
.overview {
  width: 65%;
  height: 272px;
  background: var(--dark-gray-v2);
  padding: 16px 20px;
  border-radius: 6px;
}
.overview p {
  margin: 10px 0;
  color: var(--dark-blue);
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
}
.overview h1 {
  letter-spacing: 2px;
}
.overview h1 span {
  color: var(--text-red);
}
.overview img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.complete-task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.session,
.hour,
.calories {
  /* width: 300px;
  height: 96px; */
  padding: 12px;
  border-radius: 12px;
  box-shadow: var(--shadow-v2);
  margin-bottom: 10px;
}
.session p,
.hour p,
.calories p {
  text-align: center;
  color: var(--dark-blue);
}
.session {
  background: var(--session);
}
.hour {
  background: var(--hour);
}
.calories {
  background: var(--calories);
}
.top-icon {
  display: flex;
  align-items: center;
}
.top-icon img {
  width: 200px;
  height: 206px;
}
/* exercise $ meal section start */
.view2 {
  width: 100%;
}
.request {
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.select {
  overflow: hidden;
}
.select a {
  margin-right: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--dark-blue);
}
.select .line {
  height: 3px;
  width: 50px;
  background: var(--dark-red);
  margin-top: 10px;
  transform: translateX(-50px);
  transition: 1s transform ease-out 0.1s;
}
.select:hover .line {
  transform: translateX(0);
}
.contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.programs {
  width: 661px;
  margin-right: 30px;
}
.programs1 {
  display: grid;
  grid-gap: 8px;
  grid-template-areas:
    'vid vid vid elem1'
    'vid vid vid elem2'
    'vid vid vid elem3';
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.video,
.progress-bar,
.exercise {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.video {
  grid-area: vid;
  width: 512px;
  height: 376px;
  background: url(../images/dashboard-image/fortune-vieyra-jD4MtXnsJ6w-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar {
  grid-area: elem1;
  background: var(--white);
  border-radius: 5px;
}
/* progress bar animation */

/* progress bar animation end */
.exercise {
  grid-area: elem2;
  background: var(--calories);
  border-radius: 5px;
}
.btns {
  grid-area: elem3;
  width: 128px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.btns img {
  transform: translateX(6px);
}
.next,
.prev {
  width: 127px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: var(--white);
  outline: none;
  border: none;
}
.next {
  background: var(--btn-red);
  transition: 0.5s background ease-out 0.1s;
}
.next:hover {
  background: var(--dark-red);
}
.prev {
  background: var(--btn-purple);
  transition: 0.5s background ease-out 0.1s;
}
.prev:hover {
  background: var(--light-blue);
}
.routine {
  width: 479px;
}
.guide {
  width: 100%;
  background: var(--white);
  display: flex;
  padding: 8px;
  border-radius: 6px;
}
.text-field {
  padding: 0 10px;
}
.text-field p {
  padding: 10px 0;
  color: #1b1b1b;
  font-size: 14px;
}
.count-start {
  display: flex;
  justify-content: space-between;
  color: #514f4c;
  font-weight: 600;
}
.start-btn {
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-red);
  font-weight: 600;
  font-size: 14px;
}
.start-btn:hover {
  color: var(--btn-purple);
}
/* exercise $ meal section end */

/* current plan $ todays routine */
.current-plan,
.today-routine {
  width: 100%;
  margin: 10px 0;
  background: var(--white);
  border-radius: 6px;
  color: var(--blue);
}
.current {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.current img {
  cursor: pointer;
}
.plan {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.hold {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hold img {
  margin-right: 20px;
}
.view-all {
  color: var(--text-red);
}
.view-btn {
  width: 80px;
  height: 32px;
  background: var(--btn-red);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 6px;
  transition: 0.5s background ease-out 0.1s;
  cursor: pointer;
}
.view-btn:hover {
  background: var(--dark-red);
}
.today {
  width: 100%;
  padding: 10px 15px;
}
.today div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.routine-pro {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--dark-gray);
  cursor: pointer;
}
.routine-txt {
  width: inherit;
  padding-left: 10px;
}
.routine-txt h3,
.routine-txt h4,
.routine-txt p {
  margin: 3px 0;
}
.routine-txt p {
  font-size: 14px;
}
.txts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* current plan $ todays routine end */
@media (max-width: 750px) {
  body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
  }

  .timing {
    flex-direction: column !important;
  }

  .wkr {
    margin-top: 15px;
  }

  .plans-inner h2 {
    font-size: 1.563em !important;
    margin: 0 !important;
    line-height: 28px !important;
  }

  .plans-inner p {
    font-size: 0.563em !important;
    line-height: 1.3 !important;
  }
  .navbar {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0;
    padding: 140px 0 0 0;
  }
  .active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 0;
    padding: 140px 0 0 0;
  }
  .menu-bar h1,
  .textbox {
    display: none;
  }
  .menu-bar form {
    background: transparent;
    width: 0px;
  }
  .logo {
    transform: scale(0.8);
  }
  .container {
    width: 100%;
    transform: translateX(0);
    overflow: hidden;
  }
  .programs {
    width: 100%;
  }
  .programs1 {
    grid-template-areas:
      'vid vid vid vid'
      'vid vid vid vid'
      'vid vid vid vid'
      '. elem1 elem2 .'
      'elem3 elem3 elem3 elem3';
  }
  .contain,
  .view1,
  .overview,
  .calender,
  .complete-task {
    flex-direction: column;
  }

  .view1,
  .overview,
  .complete-task {
    width: 100% !important;
    height: 100% !important;
  }

  .calendar {
    width: 70% !important;
    height: 100% !important;
  }

  .video,
  .guide,
  .routine {
    width: 100%;
  }
  .btns {
    width: 100%;
    height: initial;
    flex-direction: row-reverse;
  }
  .hamburger-menu {
    display: inline-block;
    font-size: 24px;
    color: var(--dark-blue);
  }
}
@media (max-width: 400px) {
}

/* Calender Section */
*,
:active {
  outline: none;
}
ul li a {
  text-decoration: none;
  color: #ff462b;
}

.clearfix {
  clear: both;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* required */
.calendar {
  border-radius: 4px;
  overflow: hidden;
  width: 35%;
  /* max-width: 382px; */
  height: 272px;
  background-color: #f0f0f0;
  color: #333333;
}

.calendar .col .content {
  padding: 2px;
}

.calendar ul li {
  list-style: none;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li {
  float: left;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a {
  display: block;
  color: #000;
}

.calendar .weekday li a {
  width: 50px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.calendar .days li {
  width: 50px;
}

.calendar .days li a {
  width: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  height: 25px;
  text-align: center;
  margin: 8px auto;
  margin-bottom: 2px;
  padding-top: 5px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}

.calendar .days li a:hover {
  background-color: #da0013;
  color: #fff;
}

.calendar .days li .selected {
  background-color: #da0013 !important;
  color: #ffffff;
  border-radius: 5px;
}

.top-calender {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 18px;
  margin-bottom: 10px;
}

.a img,
.c img {
  width: 28px;
  height: 28px;
}

.b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cal {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;

  color: #000000;
}
/* placeholder color */
::-webkit-input-placeholder {
  color: #ffffff;
}
:-moz-placeholder {
  color: #ffffff;
}
::-moz-placeholder {
  color: #ffffff;
}
:-ms-input-placeholder {
  color: #ffffff;
}

/* Bottom Viewport */
.viewtop {
  margin: 60px 0;
}

.left-viewtop-2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.left-viewtop {
  padding: 20px 10px;
  background-color: var(--dark-gray-v2);
  border-radius: 11px;
}

.viewtop {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.top-l-viewtop {
  display: flex;
  justify-content: space-between;
}

.left-b-viewtop {
  margin-top: 56px;
  background-color: var(--dark-gray-v2);
  padding: 20px 10px;
  border-radius: 11px;
}

.bottom-l-viewtop {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.blue {
  background: conic-gradient(
    from 160.73deg at 15.04% 0%,
    #196ba6 -113.83deg,
    #0a2c44 65.41deg,
    #196ba6 246.17deg,
    #0a2c44 425.41deg
  );
  border-radius: 5px;
  width: 133px;
  height: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}

.blue h2 {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.yellow h2,
.red h2 {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.blue p,
.yellow p,
.red p {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.yellow {
  background: conic-gradient(
    from 205.03deg at 81.95% 31.58%,
    rgba(179, 162, 13, 0.97) -28.3deg,
    rgba(213, 202, 112, 0.44) 260.62deg,
    rgba(179, 162, 13, 0.97) 331.7deg,
    rgba(213, 202, 112, 0.44) 620.62deg
  );
  border-radius: 5px;
  width: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  height: 133px;
}
.red {
  background: conic-gradient(
    from 159.23deg at 37.59% 0%,
    #f97b86 -114.13deg,
    rgba(218, 0, 19, 0.9) 34.43deg,
    #f97b86 245.87deg,
    rgba(218, 0, 19, 0.9) 394.43deg
  );
  border-radius: 5px;
  width: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  height: 133px;
}

.yellow span,
.red span {
  font-size: 14px;
  color: #ffffff;
}

/* Right Side */
.right-viewtop {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  background-color: var(--dark-gray-v2);
  border-radius: 11px;
}

.top-r-viewtop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.top-r-viewtop-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
}

.top-r {
  display: flex;
  justify-content: space-between;
}

.st1 {
  width: 100%;
  height: 174px;
  margin-top: 24px;
}

.goals p {
  color: var(--text-red-v2);
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
}

.goals-2 h2 {
  color: var(--text-red-v2);
  font-family: Sarabun;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

.goals-2 {
  display: flex;
}

.arms {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.monthly-2 {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: #124e78;
  margin-top: 3px;
}

.w1,
.w2 {
  display: flex;
  place-content: center;
  place-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
  height: 157px;
  background: #ffffff;
  border-radius: 5px;
}

.Monthly {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 6px 10px;
}

.down {
  width: 10px;
  height: 5.48;
  margin-left: 5px;
}

.cross {
  width: 12.5px;
  height: 6.5px;
  margin-left: 5px;
}

.ins-content {
  position: absolute;
  top: 48%;
  left: 50%;
  color: var(--white);
}

.ins-content p {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  word-wrap: break-word;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.ins-block {
  display: block;
}

.l-r {
  width: 20px;
  height: 16.42px;
  margin: 20px 0;
  float: right;
}

/* Plan Section */

.plan-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.plan-top-img {
  width: 100%;
}

.plans-inner {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.plans-inner h2 {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 68px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #ffffff;
}

.plans-inner p {
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #ffffff;
}

.time {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

.time h2 {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--dark-black);
}

.time p {
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--dark-black);
}
.timing {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.bar-counter {
  width: 49px;
  margin-left: 5px;
  height: 32px;
}

.clock {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.wkr {
  background-color: #fff5d9;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 16px 24px;
  height: 50px;
}

/* Image Slider Section */

.img-slider-container {
  margin: 24px 0;
  gap: 32px;
  scroll-behavior: smooth;
}

.img-slider {
  white-space: nowrap;
  position: relative;
  overflow: auto;
}

.card {
  display: inline-block;
  flex-direction: column;
  text-align: center;
  margin: 0 16px;
  align-items: center;
  width: 224px;
  padding: 10px;
  background: #f9f9f9;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.cd1 {
  width: 192px;
  height: 192px;
}

.stars {
  width: 100%;
  height: auto;
  padding: 10px 20px;
}

.card h2 {
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  opacity: 0.88;
  margin-bottom: 14px;
}
.card h4 {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin-top: 9px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #000000;
}

.btn-select {
  background: var(--btn-red);
  border-radius: 6px;
  color: var(--white);
  padding: 5px 24px;
  float: right;
  outline: none;
  margin-top: 21.27px;
  border: 0;
  cursor: pointer;
}
.btn-select:hover {
  background: var(--text-red-v2);
  transition: 0.4s background ease-in-out;
}

.tm {
  display: flex;
  align-items: center;
  justify-content: start;
}
