@media screen and (max-width: 960px) {
  .image-bg {
    display: none;
  }
}

.container {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}

.image-bg {
  position: relative;
  min-width: 40%;
  background-image: url('../images/sign-up-bg1.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 26px;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.blue-text {
  color: #0a2c44;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 45px 0 69px 0;
}

.progressbar li {
  float: left;
  width: 33%;
  position: relative;
  text-align: center;
  list-style: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.04em;
  margin-bottom: 57px;
}

.progressbar {
  counter-reset: step;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 32px;
  height: 32px;
  border: 2px solid #da0013;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 30px;
  background: white;
  color: #da0013;
  text-align: center;
  font-weight: bold;
}

.progressbar .active::before {
  background: #da0013;
  color: white;
}

.progressbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #da0013;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.form-group {
  flex: 1;
  display: flex;
  margin: 0 17px 43px 17px;
  flex-direction: column;
}

.row {
  display: flex;
}

@media (max-width: 768px) {
  .progressbar {
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    box-sizing: border-box;
  }

  .progressbar li {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 13px !important;
    justify-content: center;
  }

  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    border: 2px solid #da0013;
    display: block;
  }

  .progressbar li:after {
    content: none;
  }
  .row {
    flex-direction: column;
  }

  #date {
    display: block;
    outline: none;
    width: 100%;
    border-radius: 12px !important;
    border: 1px solid #0a2c44 !important;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='blue' stroke='%46a2e3e3' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
