.image-bg{
    position: relative;
    min-height: 100vh;
    padding: 0;
}

.image-bg img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.dimmer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(27, 27, 27, 0.51);

}

.quote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 36px;
    color: white;
    text-align: center;
}

.blue-text{
    color: #196BA6;

}

.form-group{
    margin-bottom: 30px;

}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #1B1B1B;
    display:flex;
    justify-content: center;
    position: relative;
}


#progressbar li {
    list-style-type: none;
    font-size: 15px;
    float: left;
    position: relative;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#progressbar .circle{
    width: 32px;
    height: 32px;
    border: 1px solid #DA0013;
    border-radius: 50%;
    text-align: center;
}

#progressbar .active{
    background-color: #DA0013;
    color: white;
}

.fieldlabel{
    text-align: left;
}

#msform fieldset:not(:first-of-type) {
        display: none
    }

 .connector{
    margin-top: 25px;
    width: 30%;
    height: 2px;
    background-color: #DA0013;
}

@media screen and (max-width: 960px) {
    .image-bg{
        display: none;
    }
}