.team {
  padding: 5.4rem 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  }
.team__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.8rem;   
  }
.team  .heading-header .seperator {
    border: 1px solid #da0013;
    width: 5rem;
    margin: 2.4rem 0;
  } 
/* .team__cards__card:not(:last-child) {
    margin-right: 1.6rem; 
  } */
  .team__cards__card:not(:first-child) {
    margin-left: 1.6rem; 
  }
  .team__cards__card__image {
    width: 100%; 
  }
  /* .team__cards__card .heading-4 {
    margin: 1.6rem 1.6rem 0 1.6rem;
    color: #4c4f91; 
  }
 .team__cards__card .paragraph {
    margin: 0 1.6rem 1.6rem 1.6rem;  
      }
   */  