.btn {
    height: 4rem;
    padding: 0 2rem;
    background-color: #da0013;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 300;
    outline: none;
    border: 0px;
    border-radius: 12px;
}

/* Navigation    */
.navbar {
  /* background-color: #252323; */
  color: #000000;
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  position: relative; 
  }
  /* Navbar Logo */
  .navbar-mobile-logo {
   display: inline-block;
   margin: 0;
  }
  .navbar-mobile-logo-link-img {
      height: 7.2rem;
      width: 16.5rem; 
  }
  /* Navbar Menu */
  .navbar-mobile-menu {
      display:inline-block;
  }
  
  /* Navbar  */
  .navbar-nav {
      justify-content: flex-start;
  }
  .navbar-nav-list {
      margin: 0;
      padding-left: 0;
      display: flex;
      align-items: center; 
    
  }
  .navbar-nav-list-item {
      list-style: none;
      float: left;
  }
  .navbar-nav-list-item .active {
      color: #cbab84; 
  }
  .navbar-nav-list-item:not(:last-child) {
      margin-right: 4.8rem; 
  }
  .navbar-nav-list-item-link {
      font-size: 1.6rem;
      text-transform: capitalize;
      color: #282a44;
      font-weight: 400; 
  }
  .navbar-nav-list-item-link:hover {
      color: #cbab84; 
  }
  a {
      text-decoration: none;
      color:#000000;
  }
  a:link,
  a:visited a:focus {
      text-decoration: none;
      outline:none;
  } 

 