.services {
    padding:.4rem 16rem;
    display: flex;
    flex-direction: column; 
}
.services__cards {
    display: flex;
    justify-content: space-evenly; 
    /* background-color:green; */
}
.services__cards:not(:last-of-type) {
    margin-bottom: 7.2rem;
     /* color:red;  */
 }
 
.services__cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 2.4rem;
    margin-right: 1.6rem; 
    margin-left: 1.6rem; 
    box-shadow: 0px 0px 5px rgba(87, 87, 87, 0.25); 
    /* background-color:blue; */
}
.services__cards__card__image {
    margin-bottom: 0.8rem; 
    
}
.services__cards__card__image img {
    height:5.2rem;
    width: 5.5rem; 
}
.services__cards__card__text {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.services__cards__card__text .heading-4 {
    text-align: center; 
    color: blue;
}
.services__cards__card__text__seperator {
    width: 5rem;
    border: 1px solid #da0013;
    margin: 1.6rem 0; 
}
.services__cards__card__text .paragraph {
    margin-bottom: 1.4rem; 
    color: #000000;
}

.services__cards__card__text .btn {
    height: 4rem; 
}



